Repository montge/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

.pre-commit-config.yaml:

# Pre-commit hooks for openpilot
# Install: pre-commit install
# Run manually: pre-commit run --all-files
# Skip hooks: SKIP=mypy git commit -m "message"

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=120', '--enforce-all']
      - id: check-shebang-scripts-are-executable
      - id: trailing-whitespace
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: end-of-file-fixer
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: check-yaml
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: check-merge-conflict

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal|uv\.lock|docs/CARS\.md)/'

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
        # Slow check - can be skipped with SKIP=mypy
        stages: [pre-commit]

      - id: check-nomerge-comments
        name: check-nomerge-comments
        entry: scripts/lint/check_nomerge_comments.sh
        language: script
        types: [text]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'

      - id: check-shebang-format
        name: check-shebang-format
        entry: scripts/lint/check_shebang_format.sh
        language: script
        types: [text]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'

      - id: openspec-validate
        name: openspec-validate
        entry: openspec validate --strict --changes
        language: system
        files: '^openspec/'
        pass_filenames: false
        # Validates OpenSpec changes when openspec/ files are modified

Adapt fork tests to upstream's runtime API changes
  conftest.py
  openpilot/cereal/tests/test_services.py
  openpilot/common/hardware/tests/test_hw.py
  openpilot/common/tests/test_git.py
  openpilot/common/tests/test_pid.py
  openpilot/common/tests/test_stat_live.py
  openpilot/common/transformations/tests/test_camera.py
  openpilot/selfdrive/controls/lib/tests/test_latcontrol_torque.py
  openpilot/selfdrive/controls/lib/tests/test_longcontrol.py
  openpilot/selfdrive/controls/lib/tests/test_longcontrol_properties.py
  openpilot/selfdrive/controls/lib/tests/test_longitudinal_planner.py
  openpilot/selfdrive/controls/tests/test_ldw.py
  openpilot/selfdrive/controls/tests/test_longcontrol.py
  openpilot/selfdrive/controls/tests/test_longitudinal_planner.py
  openpilot/selfdrive/controls/tests/test_radard.py
  openpilot/selfdrive/locationd/test/test_helpers.py
  openpilot/selfdrive/locationd/test/test_helpers_util.py
  openpilot/selfdrive/locationd/test/test_torqued.py
  openpilot/selfdrive/monitoring/test_monitoring_policy.py
  openpilot/selfdrive/selfdrived/tests/test_events.py
  openpilot/selfdrive/selfdrived/tests/test_selfdrived.py
  openpilot/system/loggerd/tests/test_uploader_helpers.py
  openpilot/system/loggerd/tests/test_xattr_cache.py
  openpilot/system/manager/test/test_manager_integration.py
  openpilot/system/manager/test/test_process.py
  openpilot/tools/shadow/setup/camera_bridge.py
  openpilot/tools/shadow/setup/frame_streamer.py
  openpilot/tools/shadow/setup/inference_server.py
  openpilot/tools/shadow/setup/test_visionipc_consumer.py
  openspec/changes/sync-upstream-2026-07/tasks.md
  openspec/changes/sync-upstream-2026-09/proposal.md
  openspec/changes/sync-upstream-2026-09/tasks.md
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

openspec: record the September 2026 upstream sync
  openspec/changes/sync-upstream-2026-09/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

CI: restore opendbc/msgq on PYTHONPATH for the harness coverage jobs
  .github/workflows/algorithm-harness-coverage.yml
Due: check-nomerge-comments, check-shebang-format

CI: point the C++ coverage job at the tests upstream still builds
  .github/workflows/cpp-coverage.yml
Due: check-nomerge-comments, check-shebang-format

CI: run pytest for unit tests, not upstream's unittest runner
  .github/workflows/tests.yaml
Due: check-nomerge-comments, check-shebang-format

openspec: record CI results and the SonarCloud token failure
  openspec/changes/sync-upstream-2026-09/proposal.md
  openspec/changes/sync-upstream-2026-09/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

CI: migrate SonarCloud to sonarqube-scan-action and make the scan blocking
  .github/workflows/sonarcloud.yml
Due: check-nomerge-comments, check-shebang-format

Add Toyota HWIL bench sourcing tool and how-to
  docs/how-to/toyota-hwil-bench.md
  docs/serve.py
  tools/car_porting/README.md
  tools/car_porting/toyota_bench_parts.py
Due: mypy, check-nomerge-comments, check-shebang-format

Move Toyota bench tool into openpilot.tools and add tests
  docs/how-to/toyota-hwil-bench.md
  openpilot/tools/car_porting/__init__.py
  openpilot/tools/car_porting/tests/__init__.py
  openpilot/tools/car_porting/tests/test_toyota_bench_parts.py
  openpilot/tools/car_porting/toyota_bench_parts.py
  tools/car_porting/README.md
Due: mypy, check-nomerge-comments, check-shebang-format

Fix ty type errors in the Toyota bench parts tool
  openpilot/tools/car_porting/toyota_bench_parts.py
Due: mypy, check-nomerge-comments, check-shebang-format

tools: add TypeSafe-assisted upstream sync triage
  .cbmignore
  .gitignore
  openpilot/tools/upstream_sync/README.md
  openpilot/tools/upstream_sync/__init__.py
  openpilot/tools/upstream_sync/git_facts.py
  openpilot/tools/upstream_sync/judgments.py
  openpilot/tools/upstream_sync/requirements.txt
  openpilot/tools/upstream_sync/tests/__init__.py
  openpilot/tools/upstream_sync/tests/test_triage.py
  openpilot/tools/upstream_sync/triage.py
Due: mypy, check-nomerge-comments, check-shebang-format

dgx: port tooling to the recurrent supercombo contract
  openpilot/tools/dgx/benchmark_inference.py
  openpilot/tools/dgx/model_metadata.py
  openpilot/tools/dgx/model_runner.py
  openpilot/tools/dgx/tests/test_model_inference.py
  openpilot/tools/dgx/training/teacher.py
  openpilot/tools/dgx/training/train.py
Due: mypy, check-nomerge-comments, check-shebang-format

scripts: pass upstream's check_shell; fix stale coverage script paths
  scripts/coverage-check.sh
  scripts/coverage.sh
  scripts/cpp-coverage.sh
  scripts/lint/cppcheck-misra.sh
Due: check-nomerge-comments, check-shebang-format

tools/lib: adapt auth tests to upstream's browser sign-in rewrite
  openpilot/tools/lib/tests/test_auth.py
Due: mypy, check-nomerge-comments, check-shebang-format

tools/upstream_sync: escalate safety changes in fork-imported modules
  openpilot/tools/upstream_sync/README.md
  openpilot/tools/upstream_sync/git_facts.py
  openpilot/tools/upstream_sync/tests/test_triage.py
  openpilot/tools/upstream_sync/triage.py
Due: mypy, check-nomerge-comments, check-shebang-format

monitoring: give policy test mocks sleepProb; cover sleep distraction
  openpilot/selfdrive/monitoring/test_monitoring_policy.py
Due: mypy, check-nomerge-comments, check-shebang-format

openspec: record the 2026-09-22 upstream sync
  openspec/changes/sync-upstream-2026-09-22/proposal.md
  openspec/changes/sync-upstream-2026-09-22/specs/development-workflow/spec.md
  openspec/changes/sync-upstream-2026-09-22/tasks.md
  openspec/changes/sync-upstream-2026-09-22/triage.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

tools/upstream_sync: run through a uv overlay, not the project venv
  openpilot/tools/upstream_sync/README.md
  openpilot/tools/upstream_sync/triage.py
Due: mypy, check-nomerge-comments, check-shebang-format

tools/upstream_sync: validate CLI refs and confine output paths
  openpilot/tools/upstream_sync/git_facts.py
  openpilot/tools/upstream_sync/tests/test_triage.py
  openpilot/tools/upstream_sync/triage.py
  openspec/changes/sync-upstream-2026-09-22/tasks.md
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

tools/upstream_sync: triage the repository it runs in (drop --repo)
  openpilot/tools/upstream_sync/tests/test_triage.py
  openpilot/tools/upstream_sync/triage.py
  openspec/changes/sync-upstream-2026-09-22/tasks.md
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

openspec: record PR #62 CI results
  openspec/changes/sync-upstream-2026-09-22/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate
