Repository montge/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

mypy:
  name: mypy
  entry: mypy
  language: system
  stages:
  - pre-commit

check-nomerge-comments:
  name: check-nomerge-comments
  entry: scripts/lint/check_nomerge_comments.sh
  language: script

check-shebang-format:
  name: check-shebang-format
  entry: scripts/lint/check_shebang_format.sh
  language: script

openspec-validate:
  name: openspec-validate
  entry: openspec validate --strict --changes
  language: system
  pass_filenames: false

test: extend orientation transformation tests
  common/transformations/tests/test_orientation.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for Lane Departure Warning module
  selfdrive/controls/lib/tests/test_ldw.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for LongitudinalPlanner module
  selfdrive/controls/lib/tests/test_longitudinal_planner.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: extend simple_kalman tests with comprehensive coverage
  common/tests/test_simple_kalman.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for common/constants.py
  common/tests/test_constants.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add camera transformation and util tests
  common/tests/test_util.py
  common/tests/test_utils.py
  common/transformations/tests/test_camera.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add git and gps utility tests
  common/tests/test_git.py
  common/tests/test_gps.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add modeld parse_model_outputs and constants tests
  selfdrive/modeld/tests/__init__.py
  selfdrive/modeld/tests/test_parse_model_outputs.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add tools/lib helpers and sanitizer tests
  tools/lib/tests/test_helpers.py
  tools/lib/tests/test_sanitizer.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add system/hardware/hw.py Paths tests
  system/hardware/tests/test_hw.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add common/api.py API utility tests
  common/tests/test_api.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add loggerd config and xattr_cache tests
  system/loggerd/tests/test_config.py
  system/loggerd/tests/test_xattr_cache.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add tools/lib cache and route tests
  tools/lib/tests/test_cache.py
  tools/lib/tests/test_route.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add locationd constants and helpers tests
  selfdrive/locationd/test/test_constants.py
  selfdrive/locationd/test/test_helpers_util.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add system/statsd.py tests
  system/tests/test_statsd.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add system/ui/lib/emoji.py tests
  system/ui/lib/tests/test_emoji.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add cereal/services.py tests
  cereal/tests/__init__.py
  cereal/tests/test_services.py
Due: none

test: add common/prefix.py tests
  common/tests/test_prefix.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add tools/lib api, auth_config, url_file tests
  tools/lib/tests/test_api.py
  tools/lib/tests/test_auth_config.py
  tools/lib/tests/test_url_file.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add selfdrived/events.py tests
  selfdrive/selfdrived/tests/test_events.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add comprehensive tests for car, locationd, selfdrived, and manager
  selfdrive/car/tests/test_card.py
  selfdrive/car/tests/test_vcruise_helper.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/selfdrived/tests/test_selfdrived.py
  system/manager/test/test_manager_integration.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add common module tests for filter, pid, realtime, and spinner
  common/tests/test_filter_simple.py
  common/tests/test_pid.py
  common/tests/test_realtime.py
  common/tests/test_spinner.py
Due: mypy, check-nomerge-comments, check-shebang-format

chore: add assertIn to codespell ignore list
  pyproject.toml
Due: check-nomerge-comments, check-shebang-format

chore: update ruff pre-commit hook to v0.14.10
  .pre-commit-config.yaml
Due: check-nomerge-comments, check-shebang-format

test: add basic params operations test for coverage validation
  common/tests/test_params.cc
Due: check-nomerge-comments, check-shebang-format

docs: mark enhance-cpp-coverage-workflow validation complete
  openspec/changes/enhance-cpp-coverage-workflow/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

chore: archive enhance-cpp-coverage-workflow change
  openspec/changes/archive/2025-12-29-enhance-cpp-coverage-workflow/proposal.md
  openspec/changes/archive/2025-12-29-enhance-cpp-coverage-workflow/specs/code-quality/spec.md
  openspec/changes/archive/2025-12-29-enhance-cpp-coverage-workflow/tasks.md
  openspec/specs/code-quality/spec.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

fix(tests): use numpy bool-compatible assertions in test_latcontrol
  selfdrive/controls/lib/tests/test_latcontrol.py
Due: mypy, check-nomerge-comments, check-shebang-format

refactor(tests): convert test_selfdrived.py to pytest-mock
  selfdrive/selfdrived/tests/test_selfdrived.py
Due: mypy, check-nomerge-comments, check-shebang-format

chore: archive convert-unittest-to-pytest-mock change
  openspec/changes/archive/2025-12-30-convert-unittest-to-pytest-mock/proposal.md
  openspec/changes/archive/2025-12-30-convert-unittest-to-pytest-mock/specs/code-quality/spec.md
  openspec/changes/archive/2025-12-30-convert-unittest-to-pytest-mock/tasks.md
  openspec/specs/code-quality/spec.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test: add comprehensive tests for lateral control implementations
  openspec/changes/add-latcontrol-tests/design.md
  openspec/changes/add-latcontrol-tests/proposal.md
  openspec/changes/add-latcontrol-tests/specs/code-quality/spec.md
  openspec/changes/add-latcontrol-tests/tasks.md
  selfdrive/controls/lib/tests/test_latcontrol_angle.py
  selfdrive/controls/lib/tests/test_latcontrol_pid.py
  selfdrive/controls/lib/tests/test_latcontrol_torque.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

chore: archive add-latcontrol-tests change
  openspec/changes/archive/2025-12-30-add-latcontrol-tests/design.md
  openspec/changes/archive/2025-12-30-add-latcontrol-tests/proposal.md
  openspec/changes/archive/2025-12-30-add-latcontrol-tests/specs/code-quality/spec.md
  openspec/changes/archive/2025-12-30-add-latcontrol-tests/tasks.md
  openspec/specs/code-quality/spec.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test: improve desire_helper.py coverage from 88% to 98%
  selfdrive/controls/lib/tests/test_desire_helper.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add test for empty orientationNED fallback in longitudinal_planner
  selfdrive/controls/lib/tests/test_longitudinal_planner.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: improve longcontrol.py coverage to 99%
  selfdrive/controls/lib/tests/test_longcontrol.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: improve deleter.py coverage from 90% to 99%
  system/loggerd/tests/test_deleter.py
Due: mypy, check-nomerge-comments, check-shebang-format

style: fix lint issues across test files
  common/tests/test_constants.py
  selfdrive/controls/tests/test_drive_helpers.py
  selfdrive/controls/tests/test_latcontrol.py
  selfdrive/locationd/test/test_calibrationd.py
  selfdrive/selfdrived/tests/test_state_machine.py
  tools/lib/tests/test_helpers.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: improve tools/lib coverage with logreader and exceptions tests
  tools/lib/tests/test_exceptions.py
  tools/lib/tests/test_logreader.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: improve common module coverage
  common/tests/test_stat_live.py
  common/tests/test_utils.py
Due: mypy, check-nomerge-comments, check-shebang-format

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/
  check-nomerge-comments: any file but: ^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/
  check-shebang-format: any file but: ^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/
  openspec-validate: any of: ^openspec/
