Repository montge/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

.pre-commit-config.yaml:

# Pre-commit hooks for openpilot
# Install: pre-commit install
# Run manually: pre-commit run --all-files
# Skip hooks: SKIP=mypy git commit -m "message"

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=120', '--enforce-all']
      - id: check-shebang-scripts-are-executable
      - id: trailing-whitespace
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: end-of-file-fixer
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: check-yaml
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: check-merge-conflict

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal|uv\.lock|docs/CARS\.md)/'

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
        # Slow check - can be skipped with SKIP=mypy
        stages: [pre-commit]

      - id: check-nomerge-comments
        name: check-nomerge-comments
        entry: scripts/lint/check_nomerge_comments.sh
        language: script
        types: [text]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'

      - id: check-shebang-format
        name: check-shebang-format
        entry: scripts/lint/check_shebang_format.sh
        language: script
        types: [text]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'

      - id: openspec-validate
        name: openspec-validate
        entry: openspec validate --strict --changes
        language: system
        files: '^openspec/'
        pass_filenames: false
        # Validates OpenSpec changes when openspec/ files are modified

feat: add local coverage configuration
  pyproject.toml
  scripts/coverage.sh
Due: check-nomerge-comments, check-shebang-format

chore: archive add-misra-analysis openspec change
  openspec/changes/archive/2025-12-25-add-misra-analysis/design.md
  openspec/changes/archive/2025-12-25-add-misra-analysis/proposal.md
  openspec/changes/archive/2025-12-25-add-misra-analysis/specs/misra-analysis/spec.md
  openspec/changes/archive/2025-12-25-add-misra-analysis/tasks.md
  openspec/specs/misra-analysis/spec.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

ci: enable workflows on develop branch for gitflow
  .github/workflows/codecov.yml
  .github/workflows/sonarcloud.yml
Due: check-nomerge-comments, check-shebang-format

feat: add code quality gates proposal and baseline report
  openspec/changes/add-code-quality-gates/design.md
  openspec/changes/add-code-quality-gates/proposal.md
  openspec/changes/add-code-quality-gates/specs/code-quality/spec.md
  openspec/changes/add-code-quality-gates/specs/misra-analysis/spec.md
  openspec/changes/add-code-quality-gates/tasks.md
  reports/coverage-baseline.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

feat: add Python coverage gates (Phase 2)
  .github/workflows/codecov.yml
  .gitignore
  codecov.yml
  openspec/changes/add-code-quality-gates/tasks.md
  pyproject.toml
  scripts/ratchet-coverage.sh
Due: check-nomerge-comments, check-shebang-format, openspec-validate

feat: add C++ coverage and MISRA CI (Phase 3-4)
  .github/workflows/misra.yml
  SConstruct
  openspec/changes/add-code-quality-gates/tasks.md
  scripts/cpp-coverage.sh
Due: check-nomerge-comments, check-shebang-format, openspec-validate

feat: configure quality gates (Phase 5)
  openspec/changes/add-code-quality-gates/tasks.md
  sonar-project.properties
Due: check-nomerge-comments, check-shebang-format, openspec-validate

feat: complete C++ coverage and MISRA baselines
  .github/workflows/cpp-coverage.yml
  .gitignore
  openspec/changes/add-code-quality-gates/tasks.md
  reports/coverage-baseline.md
  reports/misra-baseline.md
  scripts/cpp-coverage.sh
Due: check-nomerge-comments, check-shebang-format, openspec-validate

security: fix critical vulnerabilities from CodeQL scan
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  .github/workflows/misra.yml
  .github/workflows/sonarcloud.yml
  common/prefix.h
  reports/security-alerts.md
  tools/bodyteleop/static/index.html
Due: check-nomerge-comments, check-shebang-format

feat: add coverage thresholds and MISRA differential gates
  .github/workflows/cpp-coverage.yml
  .github/workflows/misra.yml
  openspec/changes/add-code-quality-gates/tasks.md
  scripts/lint/cppcheck-misra.sh
Due: check-nomerge-comments, check-shebang-format, openspec-validate

fix: resolve CI workflow failures
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  sonar-project.properties
Due: check-nomerge-comments, check-shebang-format

fix: add testing dependencies to CI workflows
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  .github/workflows/sonarcloud.yml
Due: check-nomerge-comments, check-shebang-format

fix: add Qt5 dependencies to C++ coverage workflow
  .github/workflows/cpp-coverage.yml
Due: check-nomerge-comments, check-shebang-format

fix: add pytest-cov install and ffmpeg deps to CI workflows
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  .github/workflows/sonarcloud.yml
Due: check-nomerge-comments, check-shebang-format

docs: update validation status after CI runs pass
  openspec/changes/add-code-quality-gates/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

perf: optimize Codecov workflow with parallel shards
  .github/workflows/codecov.yml
Due: check-nomerge-comments, check-shebang-format

fix: use --dist load to prevent pytest-xdist scheduler errors
  .github/workflows/codecov.yml
Due: check-nomerge-comments, check-shebang-format

docs: update tasks.md with Codecov workflow validation
  openspec/changes/add-code-quality-gates/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

chore: archive add-code-quality-gates change
  openspec/changes/archive/2025-12-26-add-code-quality-gates/design.md
  openspec/changes/archive/2025-12-26-add-code-quality-gates/proposal.md
  openspec/changes/archive/2025-12-26-add-code-quality-gates/specs/code-quality/spec.md
  openspec/changes/archive/2025-12-26-add-code-quality-gates/specs/misra-analysis/spec.md
  openspec/changes/archive/2025-12-26-add-code-quality-gates/tasks.md
  openspec/specs/code-quality/spec.md
  openspec/specs/misra-analysis/spec.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

feat: add coverage quality gates and enforcement
  .github/workflows/codecov.yml
  codecov.yml
  openspec/changes/add-coverage-quality-gates/proposal.md
  openspec/changes/add-coverage-quality-gates/specs/code-quality/spec.md
  openspec/changes/add-coverage-quality-gates/tasks.md
  openspec/project.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

feat: add pre-push coverage check hook
  .pre-commit-config.yaml
  openspec/changes/add-coverage-quality-gates/tasks.md
  scripts/coverage-check.sh
Due: check-nomerge-comments, check-shebang-format, openspec-validate

chore: archive add-coverage-quality-gates change
  openspec/changes/archive/2025-12-26-add-coverage-quality-gates/proposal.md
  openspec/changes/archive/2025-12-26-add-coverage-quality-gates/specs/code-quality/spec.md
  openspec/changes/archive/2025-12-26-add-coverage-quality-gates/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test: add comprehensive test coverage for controls module
  selfdrive/controls/tests/test_controlsd.py
  selfdrive/controls/tests/test_drive_helpers.py
  selfdrive/controls/tests/test_latcontrol.py
  selfdrive/controls/tests/test_ldw.py
  selfdrive/controls/tests/test_longcontrol.py
  selfdrive/controls/tests/test_longitudinal_planner.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add selfdrived module tests for safety-critical code
  selfdrive/selfdrived/tests/test_helpers.py
  selfdrive/selfdrived/tests/test_state_machine.py
Due: mypy, check-nomerge-comments, check-shebang-format

feat: enhance C++ coverage workflow to all test directories
  .github/workflows/cpp-coverage.yml
  codecov.yml
  openspec/changes/enhance-cpp-coverage-workflow/proposal.md
  openspec/changes/enhance-cpp-coverage-workflow/specs/code-quality/spec.md
  openspec/changes/enhance-cpp-coverage-workflow/tasks.md
  openspec/specs/code-quality/spec.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

fix: lower C++ coverage threshold to 15% baseline
  .github/workflows/cpp-coverage.yml
  openspec/changes/enhance-cpp-coverage-workflow/specs/code-quality/spec.md
  openspec/changes/enhance-cpp-coverage-workflow/tasks.md
  openspec/specs/code-quality/spec.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test: add coverage tests for controls, monitoring, and locationd
  selfdrive/controls/tests/test_desire_helper.py
  selfdrive/controls/tests/test_radard.py
  selfdrive/locationd/test/test_paramsd.py
  selfdrive/monitoring/tests/test_monitoring_helpers.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add comprehensive tests for common utilities and torqued
  common/tests/test_stat_live.py
  common/tests/test_time_helpers.py
  common/tests/test_timeout.py
  common/tests/test_utils.py
  selfdrive/locationd/test/test_torqued.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add _update_events tests for driver monitoring
  selfdrive/monitoring/tests/test_monitoring_helpers.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add comprehensive tests for locationd calibration and helpers
  selfdrive/locationd/test/test_calibrationd.py
  selfdrive/locationd/test/test_helpers.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add comprehensive VehicleParamsLearner tests for paramsd
  selfdrive/locationd/test/test_paramsd.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add comprehensive tests for version and hardware base modules
  system/hardware/tests/test_base.py
  system/tests/test_version.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for manager/process.py module
  system/manager/test/test_process.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for swaglog module
  common/tests/test_swaglog.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for logging_extra module
  common/tests/test_logging_extra.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for drive_helpers module
  selfdrive/controls/lib/tests/test_drive_helpers.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for longcontrol module
  selfdrive/controls/lib/tests/test_longcontrol.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for cruise helper module
  selfdrive/car/tests/test_cruise.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for latcontrol base class
  selfdrive/controls/lib/tests/test_latcontrol.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unit tests for desire_helper module
  selfdrive/controls/lib/tests/test_desire_helper.py
Due: mypy, check-nomerge-comments, check-shebang-format
