Repository montge/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

.pre-commit-config.yaml:

# Pre-commit hooks for openpilot
# Install: pre-commit install
# Run manually: pre-commit run --all-files
# Skip hooks: SKIP=mypy git commit -m "message"

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=120', '--enforce-all']
      - id: check-shebang-scripts-are-executable
      - id: trailing-whitespace
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: end-of-file-fixer
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: check-yaml
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
      - id: check-merge-conflict

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal|uv\.lock|docs/CARS\.md)/'

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'
        # Slow check - can be skipped with SKIP=mypy
        stages: [pre-commit]

      - id: check-nomerge-comments
        name: check-nomerge-comments
        entry: scripts/lint/check_nomerge_comments.sh
        language: script
        types: [text]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'

      - id: check-shebang-format
        name: check-shebang-format
        entry: scripts/lint/check_shebang_format.sh
        language: script
        types: [text]
        exclude: '^(third_party|msgq_repo|opendbc_repo|panda|rednose_repo|tinygrad_repo|teleoprtc_repo|cereal)/'

      - id: openspec-validate
        name: openspec-validate
        entry: openspec validate --strict --changes
        language: system
        files: '^openspec/'
        pass_filenames: false
        # Validates OpenSpec changes when openspec/ files are modified

test: add coverage tests for alertmanager and desire_helper
  selfdrive/controls/lib/tests/test_desire_helper.py
  selfdrive/selfdrived/tests/test_alertmanager.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add coverage tests for locationd/helpers.py
  selfdrive/locationd/test/test_helpers_util.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add coverage test for strip_deprecated_keys non-string keys
  common/tests/test_utils.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add comprehensive cruise.py speed adjustment tests
  selfdrive/car/tests/test_cruise.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add is_dirty edge case tests for version.py
  system/tests/test_version.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: achieve 100% coverage for alertmanager.py and version.py
  selfdrive/selfdrived/tests/test_alertmanager.py
  system/tests/test_version.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: improve prefix.py coverage from 83% to 92%
  common/tests/test_prefix.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: improve logging_extra.py coverage from 86% to 92%
  common/tests/test_logging_extra.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: improve swaglog.py coverage from 89% to 91%
  common/tests/test_swaglog.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: achieve 100% coverage for common/util.py
  common/tests/test_util.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: achieve 100% coverage for common/transformations/model.py
  common/transformations/tests/test_model.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: improve log_time_series.py coverage to 99%
  tools/lib/tests/test_log_time_series.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add Pc hardware class tests for 100% coverage
  system/hardware/tests/test_hw.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add unknown button tests for 100% cruise.py coverage
  selfdrive/car/tests/test_cruise.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add clean_dirs tests for 100% prefix.py coverage
  common/tests/test_prefix.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add tests for 100% locationd/helpers.py coverage
  selfdrive/locationd/test/test_helpers.py
Due: mypy, check-nomerge-comments, check-shebang-format

test: add module test coverage proposal and initial tests
  openspec/changes/add-module-test-coverage/proposal.md
  openspec/changes/add-module-test-coverage/specs/code-quality/spec.md
  openspec/changes/add-module-test-coverage/tasks.md
  system/manager/test/test_helpers.py
  tools/lib/tests/test_auth.py
  tools/lib/tests/test_bootlog.py
  tools/lib/tests/test_file_sources.py
  tools/lib/tests/test_github_utils.py
  tools/lib/tests/test_route.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

test: add tests for process_config and monitoring helpers
  openspec/changes/add-module-test-coverage/tasks.md
  selfdrive/monitoring/tests/test_monitoring_helpers.py
  system/manager/test/test_process_config.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

test: add tests for system.athena modules
  openspec/changes/add-module-test-coverage/tasks.md
  system/athena/tests/test_manage_athenad.py
  system/athena/tests/test_registration.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

test: add tests for uploader helper functions
  openspec/changes/add-module-test-coverage/tasks.md
  system/loggerd/tests/test_uploader_helpers.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

test: add edge case tests for events.py coverage
  selfdrive/selfdrived/tests/test_events.py
Due: mypy, check-nomerge-comments, check-shebang-format

docs: update tasks.md with session 4 progress
  openspec/changes/add-module-test-coverage/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test: add edge case tests for torqued.py
  selfdrive/locationd/test/test_torqued.py
Due: mypy, check-nomerge-comments, check-shebang-format

docs: update tasks.md with torqued.py coverage progress
  openspec/changes/add-module-test-coverage/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test: add edge case tests for power_monitoring.py
  system/hardware/tests/test_power_monitoring.py
Due: mypy, check-nomerge-comments, check-shebang-format

docs: update tasks.md with power_monitoring.py coverage
  openspec/changes/add-module-test-coverage/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test: add tests for filereader.py helper functions
  tools/lib/tests/test_filereader.py
Due: mypy, check-nomerge-comments, check-shebang-format

docs: update tasks.md with filereader.py coverage
  openspec/changes/add-module-test-coverage/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test(url_file): add tests for caching, multipart, and error handling
  openspec/changes/add-module-test-coverage/tasks.md
  tools/lib/tests/test_url_file.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

docs: update tasks.md with url_file.py coverage improvement
  openspec/changes/add-module-test-coverage/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test(messaging): add FrequencyTracker unit tests
  cereal/messaging/tests/test_frequency_tracker.py
Due: none

docs: update tasks.md with FrequencyTracker tests
  openspec/changes/add-module-test-coverage/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test(messaging): add helper function unit tests
  cereal/messaging/tests/test_messaging_helpers.py
Due: none

docs: update tasks.md with messaging helper tests
  openspec/changes/add-module-test-coverage/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test(common,loggerd): add edge case and exception path tests
  common/tests/test_logging_extra.py
  common/tests/test_swaglog.py
  system/loggerd/tests/test_uploader_helpers.py
Due: mypy, check-nomerge-comments, check-shebang-format

docs: update tasks.md with session 5 progress
  openspec/changes/add-module-test-coverage/tasks.md
Due: check-nomerge-comments, check-shebang-format, openspec-validate

test(locationd): add paramsd edge case tests for invalid pose data
  openspec/changes/add-module-test-coverage/tasks.md
  selfdrive/locationd/test/test_paramsd.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

test(car): add car_specific.py event handling tests
  openspec/changes/add-module-test-coverage/tasks.md
  selfdrive/car/tests/test_car_specific.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

test(selfdrived): add alert callback function tests
  openspec/changes/add-module-test-coverage/tasks.md
  selfdrive/selfdrived/tests/test_events.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate

test(locationd): add cache restoration and exception handling tests
  openspec/changes/add-module-test-coverage/tasks.md
  selfdrive/locationd/test/test_calibrationd.py
  selfdrive/locationd/test/test_torqued.py
Due: mypy, check-nomerge-comments, check-shebang-format, openspec-validate
