Repository montge/openpilot: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, cpp, cpp-core, cpp-tools, Controls (Safety Critical), Car Interface, Self-Driving State Machine, Driver Monitoring, Localization, System Services, Development Tools, Common Utilities, C++ Core (common, system, pandad), C++ Tools (cabana, replay)

Path conditions:
  unittests: any of: selfdrive/, system/, common/, tools/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp: any of: common/, system/, selfdrive/pandad/, tools/cabana/, tools/replay/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp-core: any of: common/, system/, selfdrive/pandad/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp-tools: any of: tools/cabana/, tools/replay/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Controls (Safety Critical): any of: selfdrive/controls/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Car Interface: any of: selfdrive/car/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Self-Driving State Machine: any of: selfdrive/selfdrived/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Driver Monitoring: any of: selfdrive/monitoring/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Localization: any of: selfdrive/locationd/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  System Services: any of: system/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Development Tools: any of: tools/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Common Utilities: any of: common/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  C++ Core (common, system, pandad): any of: common/**/*.cc, common/**/*.h, system/**/*.cc, system/**/*.h, selfdrive/pandad/**/*.cc, selfdrive/pandad/**/*.h, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  C++ Tools (cabana, replay): any of: tools/cabana/**/*.cc, tools/cabana/**/*.h, tools/replay/**/*.cc, tools/replay/**/*.h, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp

feat(harness): add test coverage requirements and CI workflow
  .github/workflows/algorithm-harness-coverage.yml
  openspec/changes/add-test-coverage-requirements/tasks.md
  selfdrive/controls/lib/tests/algorithm_harness/.coveragerc
  selfdrive/controls/lib/tests/algorithm_harness/README.md
  selfdrive/controls/lib/tests/algorithm_harness/test_harness.py
Due: unittests, Controls (Safety Critical)

chore(openspec): archive add-test-coverage-requirements
  openspec/changes/archive/2026-01-11-add-test-coverage-requirements/proposal.md
  openspec/changes/archive/2026-01-11-add-test-coverage-requirements/specs/test-coverage/spec.md
  openspec/changes/archive/2026-01-11-add-test-coverage-requirements/tasks.md
  openspec/specs/test-coverage/spec.md
Due: none

feat(dgx): add DGX Spark development utilities
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/README.md
  tools/dgx/__init__.py
  tools/dgx/quickstart.sh
  tools/dgx/setup.py
Due: unittests, Development Tools

feat(dgx): add model inference benchmark and document performance
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/README.md
  tools/dgx/benchmark_inference.py
Due: unittests, Development Tools

feat(dgx): add TensorRT benchmark - 1000x faster than tinygrad
  tools/dgx/README.md
  tools/dgx/benchmark_tensorrt.py
Due: unittests, Development Tools

feat(dgx): add DoRA fine-tuning training pipeline skeleton
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/TRAINING.md
  tools/dgx/training/__init__.py
  tools/dgx/training/dora.py
  tools/dgx/training/losses.py
  tools/dgx/training/teacher.py
  tools/dgx/training/train.py
Due: unittests, Development Tools

feat(dgx): add route log dataloader for training
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/training/__init__.py
  tools/dgx/training/dataloader.py
  tools/dgx/training/test_dataloader.py
  tools/dgx/training/train.py
Due: unittests, Development Tools

test(dgx): add unit tests for DoRA implementation
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/training/__init__.py
  tools/dgx/training/test_dora.py
Due: unittests, Development Tools

docs(dgx): add DoRA fine-tuning workflow documentation
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/README.md
Due: unittests, Development Tools

feat(dgx): add GPU monitoring and memory profiling utility
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/gpu_monitor.py
Due: unittests, Development Tools

docs(dgx): add troubleshooting guide and update CLAUDE.md
  CLAUDE.md
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/README.md
Due: unittests, Development Tools

ci(dgx): add NVIDIA compatibility checks and hardware test checklist
  .github/workflows/nvidia-compat.yml
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/HARDWARE_TEST_CHECKLIST.md
  tools/dgx/README.md
Due: unittests, Development Tools

feat(dgx): add model runner, memory utils, and GPU harness acceleration
  openspec/changes/add-dgx-spark-support/tasks.md
  tools/dgx/README.md
  tools/dgx/algorithm_harness_gpu.py
  tools/dgx/memory_utils.py
  tools/dgx/model_runner.py
  tools/dgx/tests/__init__.py
  tools/dgx/tests/test_model_inference.py
Due: unittests, Development Tools

feat(dgx): complete algorithm harness GPU acceleration
  openspec/changes/add-dgx-spark-support/tasks.md
  selfdrive/controls/lib/tests/algorithm_harness/README.md
  tools/dgx/benchmark_parallel.py
Due: unittests, Controls (Safety Critical), Development Tools

chore(openspec): archive add-dgx-spark-support change
  openspec/changes/archive/2026-01-13-add-dgx-spark-support/design.md
  openspec/changes/archive/2026-01-13-add-dgx-spark-support/proposal.md
  openspec/changes/archive/2026-01-13-add-dgx-spark-support/specs/dgx-spark-integration/spec.md
  openspec/changes/archive/2026-01-13-add-dgx-spark-support/tasks.md
  openspec/specs/dgx-spark-integration/spec.md
Due: none

feat(shadow): add shadow device comparison testing infrastructure
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/tests/algorithm_harness/shadow_adapter.py
  selfdrive/controls/lib/tests/algorithm_harness/test_shadow_adapter.py
  selfdrive/controls/tests/test_shadow_mode_lockout.py
  system/hardware/__init__.py
  system/hardware/shadow_mode.py
  system/hardware/tests/test_shadow_mode.py
  tools/shadow/README.md
  tools/shadow/__init__.py
  tools/shadow/align.py
  tools/shadow/analyze.py
  tools/shadow/comparison_logger.py
  tools/shadow/metrics.py
  tools/shadow/tests/__init__.py
  tools/shadow/tests/test_align.py
  tools/shadow/tests/test_comparison_logger.py
  tools/shadow/tests/test_metrics.py
Due: unittests, cpp, cpp-core, Controls (Safety Critical), Car Interface, System Services, Development Tools

feat(tracking): add Stone Soup comparison infrastructure and alternative trackers
  selfdrive/controls/lib/trackers/__init__.py
  selfdrive/controls/lib/trackers/octree.py
  selfdrive/controls/lib/trackers/tests/__init__.py
  selfdrive/controls/lib/trackers/tests/test_octree.py
  selfdrive/controls/lib/trackers/tests/test_viterbi_tracker.py
  selfdrive/controls/lib/trackers/tests/test_voxel_grid.py
  selfdrive/controls/lib/trackers/viterbi_tracker.py
  selfdrive/controls/lib/trackers/voxel_grid.py
  tools/stonesoup/README.md
  tools/stonesoup/__init__.py
  tools/stonesoup/adapters.py
  tools/stonesoup/benchmarks/__init__.py
  tools/stonesoup/benchmarks/scenarios.py
  tools/stonesoup/benchmarks/tests/__init__.py
  tools/stonesoup/benchmarks/tests/test_scenarios.py
  tools/stonesoup/tests/__init__.py
  tools/stonesoup/tests/test_adapters.py
Due: unittests, Controls (Safety Critical), Development Tools

feat(fair): add FAIR model wrappers and knowledge distillation framework
  tools/fair/README.md
  tools/fair/__init__.py
  tools/fair/distillation/__init__.py
  tools/fair/distillation/losses.py
  tools/fair/distillation/trainer.py
  tools/fair/models/__init__.py
  tools/fair/models/base.py
  tools/fair/models/cotracker.py
  tools/fair/models/detr.py
  tools/fair/models/dinov2.py
  tools/fair/models/sam2.py
  tools/fair/students/__init__.py
  tools/fair/students/detection.py
  tools/fair/students/vision.py
  tools/fair/tests/__init__.py
  tools/fair/tests/test_distillation.py
  tools/fair/tests/test_models.py
  tools/fair/tests/test_students.py
Due: unittests, Development Tools

feat(fair): add training pipelines and perception modules
  selfdrive/modeld/fair/__init__.py
  selfdrive/modeld/fair/depth.py
  selfdrive/modeld/fair/lane_tracking.py
  selfdrive/modeld/fair/segmentation.py
  tools/fair/tests/test_training.py
  tools/fair/training/__init__.py
  tools/fair/training/dataset.py
  tools/fair/training/dora.py
  tools/fair/training/multitask.py
Due: unittests, Development Tools

feat(fair): add UnSAMFlow optical flow wrapper and perception tests
  selfdrive/modeld/fair/tests/__init__.py
  selfdrive/modeld/fair/tests/test_perception.py
  tools/fair/models/__init__.py
  tools/fair/models/unsam_flow.py
  tools/fair/tests/test_models.py
Due: unittests, Development Tools

docs(fair): update README and tasks with UnSAMFlow and training utils
  openspec/changes/add-fair-algorithms/tasks.md
  tools/fair/README.md
  tools/fair/__init__.py
Due: unittests, Development Tools

feat(fair): add depth heads and visualization utilities
  tools/fair/heads/__init__.py
  tools/fair/heads/depth.py
  tools/fair/tests/test_heads.py
  tools/fair/tests/test_visualization.py
  tools/fair/visualization/__init__.py
  tools/fair/visualization/depth.py
  tools/fair/visualization/features.py
Due: unittests, Development Tools

feat(fair): add model profiling utilities
  openspec/changes/add-fair-algorithms/tasks.md
  tools/fair/heads/depth.py
  tools/fair/profiling/__init__.py
  tools/fair/profiling/benchmark.py
  tools/fair/profiling/flops.py
  tools/fair/tests/test_profiling.py
Due: unittests, Development Tools

chore: sync upstream master and add openspec change
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  openspec/AGENTS.md
  openspec/changes/sync-upstream-master-jan16/proposal.md
  openspec/changes/sync-upstream-master-jan16/specs/development-workflow/spec.md
  openspec/changes/sync-upstream-master-jan16/tasks.md
  system/hardware/nvidia/tests/test_gpu.py
Due: unittests, cpp, cpp-core, System Services

chore(openspec): archive sync-upstream-master-jan16
  openspec/changes/archive/2026-01-16-sync-upstream-master-jan16/proposal.md
  openspec/changes/archive/2026-01-16-sync-upstream-master-jan16/specs/development-workflow/spec.md
  openspec/changes/archive/2026-01-16-sync-upstream-master-jan16/tasks.md
  openspec/specs/development-workflow/spec.md
Due: none

docs(shadow): add OnePlus 6 setup and calibration guides
  docs/shadow/camera_calibration.md
  docs/shadow/oneplus6_setup.md
  openspec/changes/add-shadow-device-harness/tasks.md
Due: none

fix(shadow): add Android getprop fallback for device detection
  system/hardware/shadow_mode.py
Due: unittests, cpp, cpp-core, System Services

docs(shadow): add OnePlus 6 LineageOS setup guide and scripts
  openspec/changes/document-oneplus6-lineageos-setup/proposal.md
  openspec/changes/document-oneplus6-lineageos-setup/specs/shadow-device/spec.md
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/FLASHING.md
  tools/shadow/setup/README.md
  tools/shadow/setup/TROUBLESHOOTING.md
  tools/shadow/setup/clone-openpilot.sh
  tools/shadow/setup/setup-ssh.sh
  tools/shadow/setup/termux-setup.sh
  tools/shadow/setup/ubuntu-setup.sh
Due: unittests, Development Tools

docs(shadow): add camera integration documentation and bridge prototype
  openspec/changes/document-oneplus6-lineageos-setup/design.md
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/CAMERA.md
  tools/shadow/setup/camera_bridge.py
  tools/shadow/setup/camera_stream.sh
Due: unittests, Development Tools

chore(openspec): mark camera documentation tasks complete
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
Due: none

refactor(shadow): use ~/.venv instead of project-local venv
  tools/shadow/setup/README.md
  tools/shadow/setup/TROUBLESHOOTING.md
  tools/shadow/setup/clone-openpilot.sh
Due: unittests, Development Tools

feat(shadow): add VisionIPC integration to camera bridge
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/camera_bridge.py
Due: unittests, Development Tools

feat(shadow): add termux-api camera server for OnePlus 6
  tools/shadow/setup/termux_camera_server.py
Due: unittests, Development Tools

docs(shadow): clarify frame rate requirements and next steps
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/CAMERA.md
Due: unittests, Development Tools

fix(shadow): ensure openpilot root in Python path for camera_bridge
  tools/shadow/setup/camera_bridge.py
Due: unittests, Development Tools

docs(shadow): add VisionIPC build instructions and update tasks
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/CAMERA.md
Due: unittests, Development Tools

feat(shadow): add VisionIPC consumer test and update tasks
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/test_visionipc_consumer.py
Due: unittests, Development Tools

docs(shadow): document OpenCL/GPU access limitation
  openspec/changes/document-oneplus6-lineageos-setup/design.md
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/TROUBLESHOOTING.md
Due: unittests, Development Tools

docs(shadow): add Magisk rooting guide for OpenCL access
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/README.md
  tools/shadow/setup/ROOTING.md
Due: unittests, Development Tools

docs(shadow): document rooting results and linker namespace limitation
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  tools/shadow/setup/ROOTING.md
Due: unittests, Development Tools
