Repository montge/openpilot: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, cpp, cpp-core, cpp-tools, Controls (Safety Critical), Car Interface, Self-Driving State Machine, Driver Monitoring, Localization, System Services, Development Tools, Common Utilities, C++ Core (common, system, pandad), C++ Tools (cabana, replay)

Path conditions:
  unittests: any of: selfdrive/, system/, common/, tools/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp: any of: common/, system/, selfdrive/pandad/, tools/cabana/, tools/replay/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp-core: any of: common/, system/, selfdrive/pandad/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp-tools: any of: tools/cabana/, tools/replay/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Controls (Safety Critical): any of: selfdrive/controls/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Car Interface: any of: selfdrive/car/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Self-Driving State Machine: any of: selfdrive/selfdrived/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Driver Monitoring: any of: selfdrive/monitoring/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Localization: any of: selfdrive/locationd/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  System Services: any of: system/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Development Tools: any of: tools/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Common Utilities: any of: common/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  C++ Core (common, system, pandad): any of: common/**/*.cc, common/**/*.h, system/**/*.cc, system/**/*.h, selfdrive/pandad/**/*.cc, selfdrive/pandad/**/*.h, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  C++ Tools (cabana, replay): any of: tools/cabana/**/*.cc, tools/cabana/**/*.h, tools/replay/**/*.cc, tools/replay/**/*.h, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp

test(selfdrived): add invalid_lkas and personality callback tests
  openspec/changes/add-module-test-coverage/tasks.md
  selfdrive/selfdrived/tests/test_events.py
Due: unittests, Self-Driving State Machine

test(tools): add logreader URL parsing and edge case tests
  openspec/changes/add-module-test-coverage/tasks.md
  tools/lib/tests/test_logreader.py
Due: unittests, Development Tools

docs: add final validation results to add-module-test-coverage
  openspec/changes/add-module-test-coverage/tasks.md
Due: none

feat(verification): add CBMC formal verification for safety code
  .github/workflows/cbmc.yml
  openspec/changes/add-cbmc-verification/design.md
  openspec/changes/add-cbmc-verification/proposal.md
  openspec/changes/add-cbmc-verification/specs/formal-verification/spec.md
  openspec/changes/add-cbmc-verification/tasks.md
  openspec/changes/add-spin-protocol-verification/design.md
  openspec/changes/add-spin-protocol-verification/proposal.md
  openspec/changes/add-spin-protocol-verification/specs/formal-verification/spec.md
  openspec/changes/add-spin-protocol-verification/tasks.md
  openspec/changes/add-tla-state-verification/design.md
  openspec/changes/add-tla-state-verification/proposal.md
  openspec/changes/add-tla-state-verification/specs/formal-verification/spec.md
  openspec/changes/add-tla-state-verification/tasks.md
  openspec/specs/formal-verification/spec.md
  verification/cbmc/CBMC_VERIFICATION.md
  verification/cbmc/Makefile
  verification/cbmc/harness_controls_allowed.c
  verification/cbmc/harness_longitudinal.c
  verification/cbmc/harness_relay_malfunction.c
  verification/cbmc/harness_torque_bounds.c
  verification/cbmc/stubs.h
Due: none

feat(verification): add TLA+ and SPIN formal verification
  .github/workflows/spin.yml
  .github/workflows/tlaplus.yml
  openspec/changes/add-spin-protocol-verification/tasks.md
  openspec/changes/add-tla-state-verification/tasks.md
  pyproject.toml
  verification/spin/Makefile
  verification/spin/SPIN_VERIFICATION.md
  verification/spin/msgq_protocol.pml
  verification/tlaplus/Makefile
  verification/tlaplus/SelfDrived.cfg
  verification/tlaplus/SelfDrived.tla
  verification/tlaplus/TLA_VERIFICATION.md
Due: none

fix(verification): use safety-only config for TLA+ CI
  .github/workflows/tlaplus.yml
  verification/tlaplus/SelfDrived_Safety.cfg
Due: none

fix(tlaplus): remove action predicates from invariants
  .github/workflows/tlaplus.yml
  verification/tlaplus/SelfDrived_Safety.cfg
Due: none

chore: update verification proposal tasks as complete
  openspec/changes/add-cbmc-verification/tasks.md
  openspec/changes/add-spin-protocol-verification/tasks.md
  openspec/changes/add-tla-state-verification/tasks.md
Due: none

chore: archive completed formal verification proposals
  openspec/changes/archive/2026-01-02-add-module-test-coverage/proposal.md
  openspec/changes/archive/2026-01-02-add-module-test-coverage/specs/code-quality/spec.md
  openspec/changes/archive/2026-01-02-add-module-test-coverage/tasks.md
  openspec/changes/archive/2026-01-04-add-cbmc-verification/design.md
  openspec/changes/archive/2026-01-04-add-cbmc-verification/proposal.md
  openspec/changes/archive/2026-01-04-add-cbmc-verification/specs/formal-verification/spec.md
  openspec/changes/archive/2026-01-04-add-cbmc-verification/tasks.md
  openspec/changes/archive/2026-01-04-add-spin-protocol-verification/design.md
  openspec/changes/archive/2026-01-04-add-spin-protocol-verification/proposal.md
  openspec/changes/archive/2026-01-04-add-spin-protocol-verification/specs/formal-verification/spec.md
  openspec/changes/archive/2026-01-04-add-spin-protocol-verification/tasks.md
  openspec/changes/archive/2026-01-04-add-tla-state-verification/design.md
  openspec/changes/archive/2026-01-04-add-tla-state-verification/proposal.md
  openspec/changes/archive/2026-01-04-add-tla-state-verification/specs/formal-verification/spec.md
  openspec/changes/archive/2026-01-04-add-tla-state-verification/tasks.md
  openspec/specs/code-quality/spec.md
  openspec/specs/formal-verification/spec.md
Due: none

feat(verification): add libFuzzer-based fuzzing for safety code
  .github/workflows/fuzz.yml
  openspec/changes/add-libfuzzer-safety/proposal.md
  openspec/changes/add-libfuzzer-safety/specs/formal-verification/spec.md
  openspec/changes/add-libfuzzer-safety/tasks.md
  verification/fuzz/Makefile
  verification/fuzz/README.md
  verification/fuzz/fuzz_can_rx.c
  verification/fuzz/fuzz_safety_tx_hook.c
  verification/fuzz/stubs.h
Due: none

chore: archive add-libfuzzer-safety proposal
  openspec/changes/archive/2026-01-04-add-libfuzzer-safety/proposal.md
  openspec/changes/archive/2026-01-04-add-libfuzzer-safety/specs/formal-verification/spec.md
  openspec/changes/archive/2026-01-04-add-libfuzzer-safety/tasks.md
  openspec/specs/formal-verification/spec.md
Due: none

feat(security): add Dependabot, CodeQL, and security policy
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

docs(verification): add overview README for verification suite
  verification/README.md
Due: none

feat(verification): add unified verify.sh script
  verification/verify.sh
Due: none

test(controls): add Hypothesis property-based tests for LatControlPID
  selfdrive/controls/lib/tests/test_latcontrol_properties.py
Due: unittests, Controls (Safety Critical)

fix(spin): use bounded verification to prevent state explosion
  .github/workflows/spin.yml
Due: none

fix(codeql): simplify to Python-only analysis
  .github/workflows/codeql.yml
Due: none

chore: remove custom CodeQL workflow in favor of default setup
  .github/workflows/codeql.yml
Due: none

docs: update verification README to reflect CodeQL default setup
  verification/README.md
Due: none

test(controls): add Hypothesis property tests for all controllers
  selfdrive/controls/lib/tests/test_latcontrol_angle_properties.py
  selfdrive/controls/lib/tests/test_latcontrol_torque_properties.py
  selfdrive/controls/lib/tests/test_longcontrol_properties.py
Due: unittests, Controls (Safety Critical)

test(controls): add Hypothesis property tests for drive_helpers
  selfdrive/controls/lib/tests/test_drive_helpers_properties.py
Due: unittests, Controls (Safety Critical)

test(locationd): add Hypothesis property tests for helpers
  selfdrive/locationd/test/test_helpers_properties.py
Due: unittests, Localization

test(common): add Hypothesis property tests for PID and filters
  common/tests/test_filter_properties.py
  common/tests/test_pid_properties.py
Due: unittests, cpp, cpp-core, Common Utilities

test: add Hypothesis property tests for cruise and desire helpers
  selfdrive/car/tests/test_cruise_properties.py
  selfdrive/controls/lib/tests/test_desire_helper_properties.py
Due: unittests, Controls (Safety Critical), Car Interface

spec: add algorithm test harness and DGX Spark support proposals
  openspec/changes/add-algorithm-test-harness/design.md
  openspec/changes/add-algorithm-test-harness/proposal.md
  openspec/changes/add-algorithm-test-harness/specs/algorithm-test-harness/spec.md
  openspec/changes/add-algorithm-test-harness/tasks.md
  openspec/changes/add-dgx-spark-support/design.md
  openspec/changes/add-dgx-spark-support/proposal.md
  openspec/changes/add-dgx-spark-support/specs/dgx-spark-integration/spec.md
  openspec/changes/add-dgx-spark-support/tasks.md
Due: none

spec: add Stone Soup comparison and Meta/FAIR algorithm proposals
  openspec/changes/add-fair-algorithms/design.md
  openspec/changes/add-fair-algorithms/proposal.md
  openspec/changes/add-fair-algorithms/specs/fair-integration/spec.md
  openspec/changes/add-fair-algorithms/tasks.md
  openspec/changes/add-stonesoup-comparison/design.md
  openspec/changes/add-stonesoup-comparison/proposal.md
  openspec/changes/add-stonesoup-comparison/specs/algorithm-comparison/spec.md
  openspec/changes/add-stonesoup-comparison/tasks.md
Due: none

feat(harness): implement core algorithm test harness framework
  openspec/changes/add-algorithm-test-harness/tasks.md
  selfdrive/controls/lib/tests/algorithm_harness/__init__.py
  selfdrive/controls/lib/tests/algorithm_harness/adapters.py
  selfdrive/controls/lib/tests/algorithm_harness/interface.py
  selfdrive/controls/lib/tests/algorithm_harness/metrics.py
  selfdrive/controls/lib/tests/algorithm_harness/runner.py
  selfdrive/controls/lib/tests/algorithm_harness/test_harness.py
Due: unittests, Controls (Safety Critical)

spec: add shadow device harness proposal for OnePlus 6 testing
  openspec/changes/add-shadow-device-harness/design.md
  openspec/changes/add-shadow-device-harness/proposal.md
  openspec/changes/add-shadow-device-harness/specs/shadow-device/spec.md
  openspec/changes/add-shadow-device-harness/tasks.md
Due: none

feat(harness): add scenario infrastructure and CLI tooling
  openspec/changes/add-algorithm-test-harness/tasks.md
  selfdrive/controls/lib/tests/algorithm_harness/__init__.py
  selfdrive/controls/lib/tests/algorithm_harness/scenario_generator.py
  selfdrive/controls/lib/tests/algorithm_harness/scenario_schema.py
  selfdrive/controls/lib/tests/algorithm_harness/scenarios.py
  tools/algo_bench.py
Due: unittests, Controls (Safety Critical), Development Tools

feat(harness): add pytest integration, test coverage, and documentation
  openspec/changes/add-algorithm-test-harness/tasks.md
  openspec/changes/add-test-coverage-requirements/proposal.md
  openspec/changes/add-test-coverage-requirements/specs/test-coverage/spec.md
  openspec/changes/add-test-coverage-requirements/tasks.md
  pyproject.toml
  selfdrive/controls/lib/tests/algorithm_harness/README.md
  selfdrive/controls/lib/tests/algorithm_harness/check_coverage.py
  selfdrive/controls/lib/tests/algorithm_harness/conftest.py
  selfdrive/controls/lib/tests/algorithm_harness/test_scenarios.py
Due: unittests, Controls (Safety Critical)

feat(harness): add vehicle dynamics module with bicycle model
  openspec/changes/add-algorithm-test-harness/tasks.md
  selfdrive/controls/lib/tests/algorithm_harness/__init__.py
  selfdrive/controls/lib/tests/algorithm_harness/test_vehicle_dynamics.py
  selfdrive/controls/lib/tests/algorithm_harness/vehicle_dynamics.py
Due: unittests, Controls (Safety Critical)

feat(harness): add deterministic execution utilities
  openspec/changes/add-algorithm-test-harness/tasks.md
  selfdrive/controls/lib/tests/algorithm_harness/__init__.py
  selfdrive/controls/lib/tests/algorithm_harness/deterministic.py
  selfdrive/controls/lib/tests/algorithm_harness/test_deterministic.py
Due: unittests, Controls (Safety Critical)

feat(hardware): add NVIDIA GPU support for DGX Spark and desktop GPUs
  openspec/changes/add-dgx-spark-support/tasks.md
  selfdrive/modeld/modeld.py
  system/hardware/__init__.py
  system/hardware/nvidia/__init__.py
  system/hardware/nvidia/gpu.py
  system/hardware/nvidia/hardware.py
  system/hardware/nvidia/tests/__init__.py
  system/hardware/nvidia/tests/test_gpu.py
Due: unittests, cpp, cpp-core, System Services

feat(harness): implement report subcommand and matplotlib visualization
  openspec/changes/add-algorithm-test-harness/tasks.md
  tools/algo_bench.py
Due: unittests, Development Tools

feat(harness): complete remaining documentation and CI tasks
  .github/workflows/codecov.yml
  openspec/changes/add-algorithm-test-harness/tasks.md
  selfdrive/controls/lib/tests/algorithm_harness/README.md
  selfdrive/controls/lib/tests/algorithm_harness/examples/algorithm_analysis.ipynb
Due: unittests, Controls (Safety Critical)

chore(openspec): archive add-algorithm-test-harness
  openspec/changes/archive/2026-01-11-add-algorithm-test-harness/design.md
  openspec/changes/archive/2026-01-11-add-algorithm-test-harness/proposal.md
  openspec/changes/archive/2026-01-11-add-algorithm-test-harness/specs/algorithm-test-harness/spec.md
  openspec/changes/archive/2026-01-11-add-algorithm-test-harness/tasks.md
  openspec/specs/algorithm-test-harness/spec.md
Due: none

spec: add openspec changes for linting fixes and upstream sync
  openspec/changes/fix-algorithm-harness-linting/proposal.md
  openspec/changes/fix-algorithm-harness-linting/specs/algorithm-test-harness/spec.md
  openspec/changes/fix-algorithm-harness-linting/tasks.md
  openspec/changes/sync-upstream-master/proposal.md
  openspec/changes/sync-upstream-master/specs/development-workflow/spec.md
  openspec/changes/sync-upstream-master/tasks.md
Due: none

chore(openspec): archive sync-upstream-master
  openspec/changes/archive/2026-01-11-sync-upstream-master/proposal.md
  openspec/changes/archive/2026-01-11-sync-upstream-master/specs/development-workflow/spec.md
  openspec/changes/archive/2026-01-11-sync-upstream-master/tasks.md
  openspec/changes/sync-upstream-master/tasks.md
  openspec/specs/development-workflow/spec.md
Due: none

fix(harness): resolve all linting issues in algorithm harness
  openspec/changes/fix-algorithm-harness-linting/tasks.md
  selfdrive/controls/lib/tests/algorithm_harness/adapters.py
  selfdrive/controls/lib/tests/algorithm_harness/deterministic.py
  selfdrive/controls/lib/tests/algorithm_harness/runner.py
  selfdrive/controls/lib/tests/algorithm_harness/scenario_generator.py
  selfdrive/controls/lib/tests/algorithm_harness/scenario_schema.py
  selfdrive/controls/lib/tests/algorithm_harness/scenarios.py
  selfdrive/controls/lib/tests/algorithm_harness/test_deterministic.py
  selfdrive/controls/lib/tests/algorithm_harness/test_scenarios.py
  selfdrive/controls/lib/tests/algorithm_harness/test_vehicle_dynamics.py
  selfdrive/controls/lib/tests/algorithm_harness/vehicle_dynamics.py
Due: unittests, Controls (Safety Critical)

chore(openspec): archive fix-algorithm-harness-linting
  openspec/changes/archive/2026-01-11-fix-algorithm-harness-linting/proposal.md
  openspec/changes/archive/2026-01-11-fix-algorithm-harness-linting/specs/algorithm-test-harness/spec.md
  openspec/changes/archive/2026-01-11-fix-algorithm-harness-linting/tasks.md
  openspec/specs/algorithm-test-harness/spec.md
Due: none
