Repository montge/openpilot: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, cpp, cpp-core, cpp-tools, Controls (Safety Critical), Car Interface, Self-Driving State Machine, Driver Monitoring, Localization, System Services, Development Tools, Common Utilities, C++ Core (common, system, pandad), C++ Tools (cabana, replay)

Path conditions:
  unittests: any of: selfdrive/, system/, common/, tools/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp: any of: common/, system/, selfdrive/pandad/, tools/cabana/, tools/replay/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp-core: any of: common/, system/, selfdrive/pandad/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp-tools: any of: tools/cabana/, tools/replay/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Controls (Safety Critical): any of: selfdrive/controls/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Car Interface: any of: selfdrive/car/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Self-Driving State Machine: any of: selfdrive/selfdrived/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Driver Monitoring: any of: selfdrive/monitoring/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Localization: any of: selfdrive/locationd/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  System Services: any of: system/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Development Tools: any of: tools/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Common Utilities: any of: common/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  C++ Core (common, system, pandad): any of: common/**/*.cc, common/**/*.h, system/**/*.cc, system/**/*.h, selfdrive/pandad/**/*.cc, selfdrive/pandad/**/*.h, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  C++ Tools (cabana, replay): any of: tools/cabana/**/*.cc, tools/cabana/**/*.h, tools/replay/**/*.cc, tools/replay/**/*.h, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp

chore: remove build artifacts from tracking, update .gitignore
  .gitignore
  .venv
  common/cppcheck-addon-ctu-file-list3519349
  coverage-controls.xml
  coverage-core.xml
  coverage-system.xml
  coverage-tools.xml
Due: unittests, cpp, cpp-core, Common Utilities

chore: update AGENTS.md with correct spec count and paths
  AGENTS.md
Due: none

chore: exclude misra baseline and assets from large-file check
  .pre-commit-config.yaml
Due: none

fork: re-apply additive features after upstream merge
  .gitignore
  SConstruct
  pyproject.toml
  selfdrive/modeld/modeld.py
  uv.lock
Due: unittests

fork: drop unused pyaudio and pyopenssl deps
  pyproject.toml
  uv.lock
Due: none

fork: clean up lint failures in shadow/ tools
  scripts/lint/lint.sh
  selfdrive/controls/lib/tests/algorithm_harness/test_shadow_import.py
  tools/shadow/setup/camera_bridge.py
  tools/shadow/setup/clone-openpilot.sh
  tools/shadow/setup/frame_streamer.py
  tools/shadow/setup/mjpeg_zmq_streamer.py
  tools/shadow/setup/result_receiver.py
  tools/shadow/setup/termux_camera_server.py
  tools/shadow/setup/test_visionipc_consumer.py
  tools/shadow/setup/ubuntu-setup.sh
  tools/shadow/tests/test_visualize.py
  tools/shadow/visualize.py
Due: unittests, Controls (Safety Critical), Development Tools

fork: migrate test_controlsd.py to new DriverMonitoringState schema
  openspec/changes/migrate-dm-tests-new-schema/.openspec.yaml
  openspec/changes/migrate-dm-tests-new-schema/design.md
  openspec/changes/migrate-dm-tests-new-schema/proposal.md
  openspec/changes/migrate-dm-tests-new-schema/specs/dm-state-test-coverage/spec.md
  openspec/changes/migrate-dm-tests-new-schema/tasks.md
  selfdrive/controls/tests/test_controlsd.py
Due: unittests, Controls (Safety Critical)

fork: port test_monitoring_helpers.py to policy.py
  openspec/changes/port-test-monitoring-helpers-to-policy/.openspec.yaml
  openspec/changes/port-test-monitoring-helpers-to-policy/design.md
  openspec/changes/port-test-monitoring-helpers-to-policy/proposal.md
  openspec/changes/port-test-monitoring-helpers-to-policy/specs/monitoring-policy-test-coverage/spec.md
  openspec/changes/port-test-monitoring-helpers-to-policy/tasks.md
  selfdrive/monitoring/tests/test_monitoring_helpers.py
  selfdrive/monitoring/tests/test_monitoring_policy.py
Due: unittests, Driver Monitoring

fix(tests): align test_controlsd.py with post-merge state
  selfdrive/controls/tests/test_controlsd.py
Due: unittests, Controls (Safety Critical)

openspec: archive DM test schema migration changes
  openspec/changes/archive/2026-05-11-migrate-dm-tests-new-schema/.openspec.yaml
  openspec/changes/archive/2026-05-11-migrate-dm-tests-new-schema/design.md
  openspec/changes/archive/2026-05-11-migrate-dm-tests-new-schema/proposal.md
  openspec/changes/archive/2026-05-11-migrate-dm-tests-new-schema/specs/dm-state-test-coverage/spec.md
  openspec/changes/archive/2026-05-11-migrate-dm-tests-new-schema/tasks.md
  openspec/changes/archive/2026-05-11-port-test-monitoring-helpers-to-policy/.openspec.yaml
  openspec/changes/archive/2026-05-11-port-test-monitoring-helpers-to-policy/design.md
  openspec/changes/archive/2026-05-11-port-test-monitoring-helpers-to-policy/proposal.md
  openspec/changes/archive/2026-05-11-port-test-monitoring-helpers-to-policy/specs/monitoring-policy-test-coverage/spec.md
  openspec/changes/archive/2026-05-11-port-test-monitoring-helpers-to-policy/tasks.md
  openspec/changes/migrate-dm-tests-new-schema/tasks.md
  openspec/changes/port-test-monitoring-helpers-to-policy/tasks.md
  openspec/specs/dm-state-test-coverage/spec.md
  openspec/specs/monitoring-policy-test-coverage/spec.md
Due: none

fork: drop lfs:true from coverage/sonarcloud workflows
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  .github/workflows/sonarcloud.yml
Due: none

fix(tests): rename openpilot.common.util -> openpilot.common.utils
  common/tests/test_util.py
Due: unittests, cpp, cpp-core, Common Utilities

fork: install tools extra in coverage/sonar workflows for imgui
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  .github/workflows/sonarcloud.yml
Due: none

fix(tests,build): repair more post-merge breakage on develop
  SConstruct
  selfdrive/car/tests/test_vcruise_helper.py
  selfdrive/controls/lib/tests/test_longitudinal_planner.py
  tools/fair/training/hard_mining.py
  tools/lib/tests/test_url_file.py
  tools/shadow/tests/test_visualize.py
Due: unittests, Controls (Safety Critical), Car Interface, Development Tools

fork: pull LFS from GitLab after checkout in coverage/sonar workflows
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  .github/workflows/sonarcloud.yml
Due: none

fork: add stonesoup to tools extra
  pyproject.toml
  uv.lock
Due: none

chore: update opsx command/skill docs for store selection
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/bulk-archive.md
  .claude/commands/opsx/continue.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/ff.md
  .claude/commands/opsx/new.md
  .claude/commands/opsx/onboard.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/verify.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-bulk-archive-change/SKILL.md
  .claude/skills/openspec-continue-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-ff-change/SKILL.md
  .claude/skills/openspec-new-change/SKILL.md
  .claude/skills/openspec-onboard/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-verify-change/SKILL.md
Due: none

fork: update uv.lock for opencv-python-headless dev dep
  uv.lock
Due: none

fork: adapt tests to upstream API changes
  openpilot/common/hardware/tests/test_base.py
  openpilot/common/hardware/tests/test_hw.py
  openpilot/selfdrive/car/tests/test_card.py
  openpilot/selfdrive/controls/lib/tests/test_desire_helper.py
  openpilot/selfdrive/controls/lib/tests/test_longitudinal_planner.py
  openpilot/selfdrive/controls/tests/test_desire_helper.py
  openpilot/selfdrive/controls/tests/test_radard.py
  openpilot/selfdrive/monitoring/test_monitoring_policy.py
  openpilot/selfdrive/monitoring/tests/test_monitoring_helpers.py
  openpilot/selfdrive/selfdrived/tests/test_events.py
  openpilot/selfdrive/selfdrived/tests/test_selfdrived.py
  openpilot/selfdrive/selfdrived/tests/test_state_machine.py
  openpilot/system/loggerd/tests/test_config.py
  openpilot/system/manager/test/test_helpers.py
  openpilot/system/manager/test/test_manager_integration.py
Due: none

fork: get lint green under upstream's new ty/scoped tooling
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/adapters.py
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/conftest.py
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/deterministic.py
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/examples/algorithm_analysis.ipynb
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/test_harness.py
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/test_shadow_import.py
  openpilot/selfdrive/locationd/test/test_locationd.py
  openpilot/system/manager/test/test_manager_integration.py
  openpilot/tools/lib/tests/test_route.py
  openpilot/tools/shadow/tests/test_visualize.py
  openpilot/tools/stonesoup/multi_target.py
  openpilot/tools/stonesoup/octree.py
  scripts/lint/check_shebang_format.sh
  scripts/lint/lint.sh
Due: none

fork: fix remaining test failures after upstream merge
  openpilot/common/tests/test_logging_extra.py
  openpilot/common/tests/test_prefix.py
  openpilot/common/tests/test_realtime.py
  openpilot/common/tests/test_util.py
  openpilot/common/tests/test_utils.py
  openpilot/selfdrive/car/tests/test_vcruise_helper.py
  openpilot/selfdrive/controls/lib/tests/test_desire_helper_properties.py
  openpilot/selfdrive/controls/lib/tests/test_drive_helpers.py
  openpilot/selfdrive/controls/tests/test_controlsd.py
  openpilot/selfdrive/locationd/test/test_locationd.py
  openpilot/selfdrive/selfdrived/tests/test_selfdrived.py
  openpilot/system/manager/test/test_manager_integration.py
  openpilot/tools/lib/tests/test_route.py
  openpilot/tools/lib/tests/test_url_file.py
  openpilot/tools/shadow/setup/conftest.py
  openpilot/tools/shadow/tests/test_visualize.py
  openpilot/tools/stonesoup/multi_target.py
  openpilot/tools/stonesoup/tests/test_octree.py
  openpilot/tools/stonesoup/tests/test_track_fusion.py
  openpilot/tools/stonesoup/tests/test_voxel_tracker.py
  openpilot/tools/stonesoup/track_fusion.py
Due: none

fork: ublox test expects put_bool with block=True
  openpilot/system/manager/test/test_process_config.py
Due: none

fork: fix algorithm-harness-coverage workflow (pre-existing failure)
  .github/workflows/algorithm-harness-coverage.yml
Due: none

fork: fix CI failures exposed on Linux runners
  .github/workflows/algorithm-harness-coverage.yml
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  .github/workflows/sonarcloud.yml
  openpilot/tools/fair/training/hard_mining.py
  openpilot/tools/stonesoup/benchmarks/tests/test_scenarios.py
  openpilot/tools/stonesoup/tests/test_adapters.py
  openpilot/tools/stonesoup/tests/test_comparison.py
  openpilot/tools/stonesoup/tests/test_multi_target.py
  openpilot/tools/stonesoup/tests/test_octree.py
  openpilot/tools/stonesoup/tests/test_track_fusion.py
  openpilot/tools/stonesoup/tests/test_viterbi_tracker.py
  openpilot/tools/stonesoup/tests/test_voxel_tracker.py
Due: none

fork: CI round 2 — coverage envs, gates, timeouts, CodeQL
  .github/workflows/algorithm-harness-coverage.yml
  .github/workflows/codecov.yml
  .github/workflows/cpp-coverage.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/tests.yaml
  openpilot/common/tests/test_api.py
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/check_coverage.py
  openpilot/tools/lib/tests/test_api.py
  openpilot/tools/lib/tests/test_auth.py
  openpilot/tools/lib/tests/test_cache.py
Due: none

openspec: document sync-upstream-2026-07 change with pickup state
  openspec/changes/sync-upstream-2026-07/proposal.md
  openspec/changes/sync-upstream-2026-07/specs/development-workflow/spec.md
  openspec/changes/sync-upstream-2026-07/tasks.md
  openspec/config.yaml
Due: none

fork: CI round 3 — clang coverage, aligned gate, workflow permissions
  .github/workflows/algorithm-harness-coverage.yml
  .github/workflows/cbmc.yml
  .github/workflows/codecov.yml
  .github/workflows/fuzz.yml
  .github/workflows/spin.yml
  .github/workflows/tlaplus.yml
  SConstruct
  algorithm_harness_coverage.xml
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/.coveragerc
  openpilot/selfdrive/controls/lib/tests/algorithm_harness/check_coverage.py
Due: none

fork: CI round 4 — stonesoup collection without optional dep, sonar guard
  .github/workflows/sonarcloud.yml
  openpilot/tools/stonesoup/__init__.py
  openpilot/tools/stonesoup/tests/test_adapters.py
  openspec/changes/sync-upstream-2026-07/tasks.md
Due: none

fork: CI round 5 — last two test fixes, docs timeout, sonar non-blocking
  .github/workflows/docs.yaml
  .github/workflows/sonarcloud.yml
  openpilot/system/manager/test/test_manager_integration.py
  openpilot/tools/dgx/training/test_dataloader.py
  openspec/changes/sync-upstream-2026-07/tasks.md
Due: none

fork: harden manager lifecycle tests against xdist worker crashes on Linux
  openpilot/system/manager/test/test_manager_integration.py
Due: none

openspec: sync change CI green, pickup point moves to landing
  openspec/changes/sync-upstream-2026-07/tasks.md
Due: none

fork: scope dependabot to fork-owned GitHub Actions only
  .github/dependabot.yml
Due: none

fork: regenerate MISRA baseline for post-restructure layout
  .github/workflows/misra.yml
  reports/misra-baseline.md
  reports/misra-baseline.txt
  scripts/lint/cppcheck-misra.sh
Due: none

openspec: update live specs and config to post-restructure paths
  openspec/config.yaml
  openspec/specs/code-quality/spec.md
  openspec/specs/dgx-spark-integration/spec.md
  openspec/specs/formal-verification/spec.md
  openspec/specs/misra-analysis/spec.md
Due: none

fork: port tools/dgx to combined driving_supercombo.onnx
  openpilot/tools/dgx/HARDWARE_TEST_CHECKLIST.md
  openpilot/tools/dgx/README.md
  openpilot/tools/dgx/TRAINING.md
  openpilot/tools/dgx/benchmark_inference.py
  openpilot/tools/dgx/benchmark_tensorrt.py
  openpilot/tools/dgx/model_runner.py
  openpilot/tools/dgx/tests/test_model_inference.py
  openpilot/tools/dgx/training/dataloader.py
  openpilot/tools/dgx/training/losses.py
  openpilot/tools/dgx/training/teacher.py
  openpilot/tools/dgx/training/train.py
Due: none

fork: fix OnnxRunner import for pinned tinygrad
  openpilot/tools/dgx/benchmark_inference.py
Due: none

fork: set tinygrad device via DEV env, Device.DEFAULT is read-only now
  openpilot/tools/dgx/benchmark_inference.py
Due: none

fork: record DGX Spark validation results, document DoRA converter gap
  openpilot/tools/dgx/HARDWARE_TEST_CHECKLIST.md
  openpilot/tools/dgx/README.md
  openpilot/tools/dgx/TRAINING.md
  openpilot/tools/dgx/training/train.py
Due: none

fork: appease codespell (unparseable -> unparsable)
  openpilot/tools/dgx/model_runner.py
Due: none
