Repository montge/openpilot: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, cpp, cpp-core, cpp-tools, Controls (Safety Critical), Car Interface, Self-Driving State Machine, Driver Monitoring, Localization, System Services, Development Tools, Common Utilities, C++ Core (common, system, pandad), C++ Tools (cabana, replay)

docs(openspec): add remote inference proposal for shadow device
  openspec/changes/enable-shadow-remote-inference/design.md
  openspec/changes/enable-shadow-remote-inference/proposal.md
  openspec/changes/enable-shadow-remote-inference/tasks.md
Due: none

feat(shadow): implement remote inference streaming components
  openspec/changes/enable-shadow-remote-inference/specs/shadow-device/spec.md
  tools/shadow/setup/README.md
  tools/shadow/setup/frame_streamer.py
  tools/shadow/setup/inference_server.py
  tools/shadow/setup/result_receiver.py
Due: unittests, Development Tools

docs(openspec): add --no-interactive flag to validate commands
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  openspec/AGENTS.md
Due: none

docs(openspec): update task progress for shadow device changes
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  openspec/changes/enable-shadow-remote-inference/tasks.md
Due: none

docs(openspec): update add-shadow-device-harness task progress
  openspec/changes/add-shadow-device-harness/tasks.md
Due: none

feat(shadow): add visualization tools for comparison analysis
  tools/shadow/tests/test_visualize.py
  tools/shadow/visualize.py
Due: unittests, Development Tools

docs(openspec): mark visualization tools as completed
  openspec/changes/add-shadow-device-harness/tasks.md
Due: none

feat(harness): add shadow device log import for algorithm testing
  selfdrive/controls/lib/tests/algorithm_harness/shadow_import.py
  selfdrive/controls/lib/tests/algorithm_harness/test_shadow_import.py
Due: unittests, Controls (Safety Critical)

docs(shadow): update harness integration and workflow documentation
  openspec/changes/add-shadow-device-harness/tasks.md
  tools/shadow/README.md
Due: unittests, Development Tools

feat(ui): add shadow mode indicator to HUD
  openspec/changes/add-shadow-device-harness/tasks.md
  selfdrive/ui/onroad/hud_renderer.py
Due: unittests

feat(shadow): add event timeline visualization
  openspec/changes/add-shadow-device-harness/tasks.md
  tools/shadow/visualize.py
Due: unittests, Development Tools

docs(shadow): add example analysis notebook
  openspec/changes/add-shadow-device-harness/tasks.md
  tools/shadow/example_analysis.ipynb
Due: unittests, Development Tools

docs(openspec): mark shadow device harness change complete
  openspec/changes/add-shadow-device-harness/tasks.md
Due: none

chore(deps): bump filelock to 3.20.3
  uv.lock
Due: none

chore(deps): bump numpy to 2.4.1
  uv.lock
Due: none

chore(deps): upgrade aiortc, pyopenssl, cryptography
  pyproject.toml
  uv.lock
Due: none

docs(openspec): update tasks with remote inference test results
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  openspec/changes/enable-shadow-remote-inference/tasks.md
Due: none

feat(shadow): add MJPEG streamer and remote setup documentation
  openspec/changes/document-oneplus6-lineageos-setup/tasks.md
  openspec/changes/enable-shadow-remote-inference/tasks.md
  tools/shadow/setup/REMOTE_SETUP.md
  tools/shadow/setup/mjpeg_zmq_streamer.py
Due: unittests, Development Tools

feat(stonesoup): implement Stone Soup adapter layer
  docs/plans/2026-01-24-stonesoup-adapters-design.md
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/__init__.py
  tools/stonesoup/adapters.py
  tools/stonesoup/requirements.txt
  tools/stonesoup/tests/test_adapters.py
Due: unittests, Development Tools

feat(stonesoup): add filter comparison harness
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/comparison.py
  tools/stonesoup/tests/test_comparison.py
Due: unittests, Development Tools

feat(stonesoup): add multi-target tracking comparison
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/multi_target.py
  tools/stonesoup/tests/test_multi_target.py
Due: unittests, Development Tools

feat(stonesoup): add track-to-track fusion with covariance intersection
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/tests/test_track_fusion.py
  tools/stonesoup/track_fusion.py
Due: unittests, Development Tools

feat(stonesoup): add voxel grid tracker for occupancy-based tracking
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/tests/test_voxel_tracker.py
  tools/stonesoup/voxel_tracker.py
Due: unittests, Development Tools

feat(stonesoup): add Viterbi track association with HMM
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/tests/test_viterbi_tracker.py
  tools/stonesoup/viterbi_tracker.py
Due: unittests, Development Tools

feat(stonesoup): add octree spatial index for 3D queries
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/octree.py
  tools/stonesoup/tests/test_octree.py
Due: unittests, Development Tools

docs(stonesoup): add benchmark scenarios and documentation
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/README.md
  tools/stonesoup/scenarios.py
Due: unittests, Development Tools

opsx: migrate from openspec CLI to skills-based workflow
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/bulk-archive.md
  .claude/commands/opsx/continue.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/ff.md
  .claude/commands/opsx/new.md
  .claude/commands/opsx/onboard.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/verify.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-bulk-archive-change/SKILL.md
  .claude/skills/openspec-continue-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-ff-change/SKILL.md
  .claude/skills/openspec-new-change/SKILL.md
  .claude/skills/openspec-onboard/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-verify-change/SKILL.md
  AGENTS.md
  CLAUDE.md
  openspec/AGENTS.md
Due: none

openspec: revalidate all specs and active changes
  openspec/changes/add-fair-algorithms/design.md
  openspec/changes/add-shadow-device-harness/design.md
  openspec/changes/add-shadow-device-harness/proposal.md
  openspec/changes/add-stonesoup-comparison/tasks.md
  openspec/specs/algorithm-test-harness/spec.md
  openspec/specs/code-quality/spec.md
  openspec/specs/development-workflow/spec.md
  openspec/specs/dgx-spark-integration/spec.md
  openspec/specs/formal-verification/spec.md
  openspec/specs/misra-analysis/spec.md
  openspec/specs/test-coverage/spec.md
  tools/shadow/align.py
  tools/shadow/comparison_logger.py
Due: unittests, Development Tools

tools: add git worktree helper scripts
  tools/worktree/op-wt-add.sh
  tools/worktree/op-wt-ls.sh
  tools/worktree/op-wt-rm.sh
Due: unittests, Development Tools

openspec: migrate project.md to config.yaml
  openspec/config.yaml
  openspec/project.md
Due: none

fix: improve pre-push hook compatibility (#18)
  .pre-commit-config.yaml
  scripts/coverage-check.sh
Due: none

feat: add MISRA compare-analysis.sh script (#20)
  openspec/specs/misra-analysis/spec.md
  scripts/lint/compare-analysis.sh
Due: none

chore: bump protobuf 6.33.5, cryptography 46.0.4 (#22)
  uv.lock
Due: none

openspec: archive add-shadow-device-harness (#21)
  openspec/archive/2026-02-05-add-shadow-device-harness/design.md
  openspec/archive/2026-02-05-add-shadow-device-harness/proposal.md
  openspec/archive/2026-02-05-add-shadow-device-harness/specs/shadow-device/spec.md
  openspec/archive/2026-02-05-add-shadow-device-harness/tasks.md
  openspec/specs/shadow-device/spec.md
Due: none

feat(stonesoup): add visualization notebook for benchmark results
  openspec/changes/add-stonesoup-comparison/tasks.md
  tools/stonesoup/visualization.ipynb
Due: unittests, Development Tools

archive add-stonesoup-comparison: sync spec and archive
  openspec/changes/archive/2026-02-05-add-stonesoup-comparison/design.md
  openspec/changes/archive/2026-02-05-add-stonesoup-comparison/proposal.md
  openspec/changes/archive/2026-02-05-add-stonesoup-comparison/specs/algorithm-comparison/spec.md
  openspec/changes/archive/2026-02-05-add-stonesoup-comparison/tasks.md
  openspec/specs/algorithm-comparison/spec.md
Due: none

archive document-oneplus6-lineageos-setup: complete docs and archive
  openspec/changes/archive/2026-02-05-document-oneplus6-lineageos-setup/design.md
  openspec/changes/archive/2026-02-05-document-oneplus6-lineageos-setup/proposal.md
  openspec/changes/archive/2026-02-05-document-oneplus6-lineageos-setup/specs/shadow-device/spec.md
  openspec/changes/archive/2026-02-05-document-oneplus6-lineageos-setup/tasks.md
  openspec/specs/shadow-device/spec.md
  tools/shadow/README.md
  tools/shadow/setup/REMOTE_SETUP.md
Due: unittests, Development Tools

archive enable-shadow-remote-inference: modeld integration and docs
  openspec/changes/archive/2026-02-05-enable-shadow-remote-inference/design.md
  openspec/changes/archive/2026-02-05-enable-shadow-remote-inference/proposal.md
  openspec/changes/archive/2026-02-05-enable-shadow-remote-inference/specs/shadow-device/spec.md
  openspec/changes/archive/2026-02-05-enable-shadow-remote-inference/tasks.md
  openspec/specs/shadow-device/spec.md
  tools/shadow/setup/REMOTE_INFERENCE.md
  tools/shadow/setup/inference_server.py
Due: unittests, Development Tools

archive add-fair-algorithms: QAT, hard mining, task distillation, DoRA checkpoints
  openspec/changes/add-fair-algorithms/tasks.md
  openspec/changes/archive/2026-02-05-add-fair-algorithms/design.md
  openspec/changes/archive/2026-02-05-add-fair-algorithms/proposal.md
  openspec/changes/archive/2026-02-05-add-fair-algorithms/specs/fair-integration/spec.md
  openspec/changes/archive/2026-02-05-add-fair-algorithms/tasks.md
  openspec/specs/fair-integration/spec.md
  tools/fair/distillation/__init__.py
  tools/fair/distillation/losses.py
  tools/fair/quantization/__init__.py
  tools/fair/quantization/export.py
  tools/fair/quantization/qat.py
  tools/fair/training/__init__.py
  tools/fair/training/dora.py
  tools/fair/training/hard_mining.py
Due: unittests, Development Tools

fix(specs): resolve planned-feature references (closes #20)
  .github/workflows/algorithm-harness-coverage.yml
  openspec/specs/code-quality/spec.md
  openspec/specs/test-coverage/spec.md
Due: none

Path conditions:
  unittests: any of: selfdrive/, system/, common/, tools/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp: any of: common/, system/, selfdrive/pandad/, tools/cabana/, tools/replay/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp-core: any of: common/, system/, selfdrive/pandad/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  cpp-tools: any of: tools/cabana/, tools/replay/, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Controls (Safety Critical): any of: selfdrive/controls/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Car Interface: any of: selfdrive/car/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Self-Driving State Machine: any of: selfdrive/selfdrived/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Driver Monitoring: any of: selfdrive/monitoring/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Localization: any of: selfdrive/locationd/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  System Services: any of: system/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Development Tools: any of: tools/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  Common Utilities: any of: common/**, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  C++ Core (common, system, pandad): any of: common/**/*.cc, common/**/*.h, system/**/*.cc, system/**/*.h, selfdrive/pandad/**/*.cc, selfdrive/pandad/**/*.h, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
  C++ Tools (cabana, replay): any of: tools/cabana/**/*.cc, tools/cabana/**/*.h, tools/replay/**/*.cc, tools/replay/**/*.h, but not: third_party/**, msgq_repo/**, opendbc_repo/**, panda/**, rednose_repo/**, tinygrad_repo/**, teleoprtc_repo/**, cereal/**, **/c_generated_code/**, **/generated/**, **/*.capnp
